<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
<body>
<%- partial('_partial/header') %>
<main class="content">
    <%- body %>
</main>
<%- partial('_partial/footer') %>
</body>
</html>