<section class="jumbotron geopattern" data-pattern-id="All articles are here">
    <div class="container">
        <div id="jumbotron-meta-info">
            <h1><%= page.title %></h1>
            <span class="meta-info">
                    <span class="mega-octicon octicon-markdown"></span>
                    <%= page.subtitle %>
            </span>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {

        $('.geopattern').each(function () {
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>
<article class="post container">
    <ul class="archives-list">
        <%
        var categories = [];

        site.categories.each(function (cate) {
            categories.push(cate);
        });
        %>
        <% categories.forEach(function (cate) { %>
            <li>
                <a href="<%- url_for(cate.path) %>" target="_blank"><%= cate.name %> ( <%= cate.length %> )</a>
            </li>
        <% }); %>
    </ul>
</article>