<footer class="container">
    <div class="site-footer">
        <%- partial('_partial/social-sidebar') %>

        <div class="site-footer-links mobile-hidden">
            <% if (theme.busuanzi.enable) { %>
                <% if (theme.busuanzi.site.pv) { %>
                    <span id="busuanzi_container_site_pv" style='display:none'>
                        本站总访问量<span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-spin"></i></span>次
                    </span>
                <% } %>
                <% if (theme.busuanzi.site.uv) { %>
                    <span id="busuanzi_container_site_uv" style='display:none'>
                      访客数<span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-spin"></i></span>人次
                    </span>
                <% } %>
            <% } %>
        </div>

        <div class="site-footer-links mobile-hidden">
        <% if(theme.copyright.enable) { %>
            <span class="meta-info-index hvr-grow">
                <% if(theme.copyright.link) { %>
                    <a href="<%- theme.copyright.link %>">
                        <%- theme.copyright.name %> &copy; <%- theme.copyright.since %>
                    </a>
                <% } %>
            </span>
        <% } %>
        <% if(theme.ICP) { %>
            <span class="meta-info-index hvr-grow">
                <a href="http://beian.miit.gov.cn"><%= theme.ICP %></a>
            </span>
        <% } %>
        </div>

        <% if(theme.top.enable) { %>
            <div class="scrolltop">
                <a href="javascript:window.scrollTo(0,0)">TOP</a>
            </div>
        <% } %>

        <% if(theme.rss.enable) { %>
        <div class="rss">
            <a href="<%- url_for("/atom.xml") %>" target="_blank"><span class="octicon octicon-rss" style="color:orange;"></span></a>
            Power by <a href="https://github.com/cayzlh/hexo-theme-yummy" target="_blank">hexo-theme-yummy</a>
        </div>
        <% } %>
    </div>
    <%
    var cdnable = theme.jsDelivr.enable;
    %>

    <% if (cdnable) { %>
        <!-- Third-Party JS -->
        <script type="text/javascript"
                src="<%- theme.jsDelivr.url %>/js/thirdparty/geopattern.min.js"></script>
        <!-- My JS -->
        <script type="text/javascript" src="<%- theme.jsDelivr.url %>/js/script.js"></script>
    <% } else { %>
        <!-- Third-Party JS -->
        <script type="text/javascript"
                src="<%- url_for("/js/thirdparty/geopattern.min.js") %>"></script>
        <!-- My JS -->
        <script type="text/javascript" src="<%- url_for("/js/script.js") %>"></script>
    <% } %>

    <% if (theme.busuanzi.enable) { %>
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
        </script>
    <% } %>
</footer>