<% if(page.tags) { %>
<div style="text-align:center;width:100%">
    <span class="octicon octicon-tag-add"></span>
    <% page.tags.forEach(function (tag) { %>
        <a style="color: #24292e;" href="<%- url_for(tag.path) %>"><%= tag.name %></a>
    <% }); %>
</div>
<% } %>

<% if (theme.postending.image) { %>
    <div style="text-align:center;width:100%">
        <img src="https://cdn.jsdelivr.net/gh/cayzlh/git-img-repository@master/uPic/640-2.gif">
    </div>
<% } %>

<%
    var popPosts;
    var max = 5;
    if (theme.popular_posts.enable) {
        if (theme.popular_posts.max) {
            max = theme.popular_posts.max;
        }
        popPosts = popular_posts_json({ maxCount: max } , page );
        popPosts = popPosts.json;
    }
%>
<% if(theme.popular_posts.enable && popPosts && popPosts.length > 0 ) { %>
<div>
    <h4><%= theme.popular_posts.title %></h4>
    <ul class="post-copyright">
        <% popPosts.forEach(function (pop) { %>
        <li class="post-copyright-author">
            <a href="<%- pop.path %>"><%= pop.title %></a>
        </li>
        <% }); %>
    </ul>
    <br><br>
</div>
<% } %>

<% if (theme.postending.declaration.enable) { %>
<div>
    <h4>版权声明</h4>
    <blockquote>
        <ul class="post-copyright">
            <li class="post-copyright-author">
                <strong>本文来源： </strong>
                <%
                var url = page.author && page.author.link ? page.author.link : page.permalink;
                var nick = page.author && page.author.nick ? page.author.nick : config.author;
                %>
                <a href="<%- url_for(url) %>"
                   title="<%- nick %>"
                   rel="noopener external nofollow noreferrer"
                   target="_blank"><%= nick %></a></li>
            <li class="post-copyright-link">
                <strong>本文链接：</strong>
                <a href="<%- url_for(page.permalink) %>"
                   title="<%- url_for(page.title) %>"><%= page.permalink %></a>
            </li>
            <li class="post-copyright-license">
                <strong>版权声明： </strong>
                <% if (theme.postending.declaration.copyright) { %>
                    <%- theme.postending.declaration.copyright %>
                <% } else { %>
                    文章内容仅用作学习和分享，转载请注明出处
                <% } %>
            </li>
        </ul>
    </blockquote>
</div>
<% } %>
