<article class="post container " itemscope itemtype="http://schema.org/BlogPosting" id="openwrite-container">
    <div class="row">
        <div class="col-md-9 markdown-body">
            <!-- 文章开始部分 -->
            <%- partial('_partial/post-starting') %>
            <%- page.content %>
            <!-- 文章结尾部分 -->
            <% if (theme.postending.enable) { %>
                <%- partial('_partial/post-ending') %>
            <% } %>
            <% if(theme.comment.enable) { %>
                <%- partial('_partial/post-comment') %>
            <% } %>
        </div>
        <%
        var topic = toc(page.content, {
            list_number: false,
            max_depth: 3
        });

        if(topic) {
        %>
            <div class="col-md-3">
                <h4>文章目录</h4>
                <div id="toc" style="display: none;">
                    <%- topic %>
                </div>
                <div id="post-directory-module">
                    <section class="post-directory">
                        <!-- Links that trigger the jumping -->
                        <!-- Added by javascript below -->
                        <dl></dl>
                    </section>
                </div>

                <script type="text/javascript">
                  var getChild = function ($parent) {
                    var child = {};
                    child.path = $parent.find("a").attr("href");
                    child.title = $parent.find("a").find("span").html();

                    var $children = $($parent.children("ol").children());
                    if ($children) {
                      var children = [];
                      $children.each(function () {
                        children.push(getChild($(this)));
                      });
                      child.children = children;
                    }
                    return child;
                  }
                  $(document).ready(function () {
                    var toc = [];
                    $("#toc").children().children().each(function () {
                      toc.push(getChild($(this)));
                    });
                    if (toc.length > 0) {
                      $("#toc").remove();
                      toc.forEach(function (t) {
                        $(".post-directory dl").append("<dt><a class=\"jumper\" href="
                            + t.path
                            + ">"
                            + t.title
                            + "</a></dt>");
                        var tc = t.children;
                        if (tc.length > 0) {
                          tc.forEach(function (c) {
                            $(".post-directory dl").append(
                                "<dd><a class=\"jumper\" href="
                                + c.path
                                + ">"
                                + "&nbsp;&nbsp;- " + c.title
                                + "</a></dd>"
                            );
                          });
                        }
                      });

                    }
                    var fixmeTop = $('#post-directory-module').offset().top - 100;       // get initial position of the element

                    $(window).scroll(function () {                  // assign scroll event listener

                      var currentScroll = $(window).scrollTop(); // get current position

                      if (currentScroll >= fixmeTop) {           // apply position: fixed if you
                        $('#post-directory-module').css({      // scroll to that element or below it
                          top: '100px',
                          position: 'fixed',
                          width: 'inherit'
                        });
                      } else {                                   // apply position: static
                        $('#post-directory-module').css({      // if you scroll above it
                          position: 'inherit',
                          width: 'inherit'
                        });
                      }

                    });
                  });

                </script>
            </div>
        <% } %>
    </div>
    <% if (theme.readmore.enable && page.readmore) { %>
        <script src="//my.openwrite.cn/js/readmore.js" type="text/javascript"></script>
        <script>
          const btw = new BTWPlugin();
          btw.init({
            id: 'openwrite-container',
            blogId: '<%- theme.readmore.blogId %>',
            name: '<%- theme.readmore.name %>',
            qrcode: '<%- theme.readmore.qrcode %>',
            keyword: '<%- theme.readmore.keyword %>',
          });
        </script>
    <% } %>
    <script>
      $(function() {
        $("a.link").click(function() {
          $("html, body").animate({
            scrollTop: $($(this).attr("href")).offset().top + "px"
          }, {
            duration: 500,
            easing: "swing"
          });
          return false;
        });
      });
    </script>
</article>

